@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #0e1538;
}
a
{
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    margin: 150px;
    transition: 1s;
    text-decoration: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);
}
a:hover
{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr);
}
a span
{
    position: relative;
    z-index: 1;
    font-size: 0.8em;
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}
h1
{
    color: #ffffff;
    
}
p
{
    color: #ffffff;
}
iframe
{
    border-radius: 25px;
    border: 0px solid;
}
